body{ font-family: 'Cairo', sans-serif;text-align: right;line-height: 1.8; }
h1,h2,h3,h4,h5,h6{font-weight: bold}
.social-icons {
    direction:ltr;
    color:#FFF;
    text-align:center;
    padding:15px 0
}
.brands a,.features-boxed .item{text-align:center}.brands{color:#313437;background-color:#fff}.brands a{display:block;padding:40px 0}@media (max-width:767px){.brands a{padding:30px 0}}.brands a img{display:inline-block;margin:10px 20px;vertical-align:middle}.features-boxed{color:#313437;background-color:#fff}.features-boxed p{color:#7d8285}.features-boxed h2{font-weight:700;margin-bottom:40px;padding-top:40px;color:inherit}@media (max-width:767px){.features-boxed h2{margin-bottom:25px;padding-top:25px;font-size:24px}}.intro{font-size:16px;max-width:500px;margin:0 auto}.intro p{margin-bottom:0}.features-boxed .features{padding:50px 0}
.features-boxed .item .box{text-align:center;padding-top:10px;background-color:#fff;margin-bottom:30px}
features-boxed .item .icon{font-size:60px;color:#1485ee;margin-top:20px;margin-bottom:35px}.features-boxed .item .name{font-weight:700;font-size:18px;margin-bottom:8px;margin-top:0;color:inherit}.features-boxed .item .description{font-size:15px;margin-top:15px;margin-bottom:20px}.features-clean{color:#313437;background-color:#fff;padding-bottom:30px}.features-clean p{color:#7d8285}.intro h2{font-weight:700;margin-bottom:40px;padding-top:40px;color:inherit}@media (max-width:767px){.features-clean{padding-bottom:10px}.intro h2{margin-bottom:25px;padding-top:25px;font-size:24px}}.intro{font-size:16px;max-width:500px;margin:0 auto 60px}.features-clean .item{min-height:100px;padding-right:80px;margin-bottom:40px}@media (max-width:767px){.intro{margin-bottom:40px}.features-clean .item{min-height:0}}.features-clean .item .name{font-size:20px;font-weight:900;margin-top:0;margin-bottom:20px;color:inherit;text-align: center;}
.features-clean .item .description{font-size: 16px;
                                   color: #000;
                                   margin-bottom: 0;
                                   text-align: center;
                                   direction: rtl;}
.features-clean .item .icon{font-size:18px;color:#FFF;  }
.footer-clean{padding:50px 0;background-color:#fff;color:#4b4c4d}
.footer-clean h3{margin-top:0;margin-bottom:12px;font-weight:700;font-size:16px}
.footer-clean ul{padding:0;list-style:none;line-height:1.6;font-size:14px;margin-bottom:0}
.footer-clean ul a{color:inherit;text-decoration:none;opacity:.8}.footer-clean ul a:hover{opacity:1}
.footer-clean .item.social{text-align:right}@media (max-width:768px){.footer-clean .item.social{text-align:center}}
.footer-clean .item.social>a{font-size:24px;width:40px;height:40px;line-height:40px;display:inline-block;text-align:center;border-radius:50%;border:1px solid #ccc;margin-left:10px;margin-top:22px;color:inherit;opacity:.75}.footer-clean .item.social>a:hover{opacity:.9}@media (max-width:991px){.footer-clean .item.social>a{margin-top:40px}}@media (max-width:767px){.footer-clean .item{text-align:center;padding-bottom:20px}.footer-clean .item.social>a{margin-top:10px}.highlight-phone{text-align:center}}.footer-clean .copyright{margin-top:14px;margin-bottom:0;font-size:13px;opacity:.6}.header-dark{background:#005995;background-size:cover}@media (min-width:768px){.header-dark{padding-bottom:0}}.header-dark .navbar{background:0 0;padding-top:0;padding-bottom:0;color:#fff;border-radius:0;}@media (min-width:768px){.header-dark .navbar .navbar-brand{font-weight:700;color:inherit}.header-dark .navbar .navbar-brand:hover{color:#f0f0f0}.header-dark .navbar .navbar-collapse span{margin-top:5px}.header-dark .navbar .navbar-collapse span .login{color:#d9d9d9;margin-right:.5rem;text-decoration:none}.header-dark .navbar .navbar-collapse span .login:hover{color:#fff}.header-dark .navbar .navbar-toggler{border-color:#747474;color:#eee}.header-dark .navbar .navbar-toggler:hover,.header-dark .navbar-toggler:focus{background:0 0}.header-dark .navbar .form-inline,.header-dark .navbar .navbar-collapse{border-color:#636363}}@media (min-width:992px){.header-dark .navbar.navbar .navbar-nav .nav-link{padding-left:1.2rem;padding-right:1.2rem}}.header-dark .navbar.navbar-dark .navbar-nav .nav-link{color:#d9d9d9}.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus,.header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover{color:#fcfeff!important;background-color:transparent}.header-dark .navbar .navbar-nav>li>.dropdown-menu{margin-top:-5px;box-shadow:0 4px 8px rgba(0,0,0,.1);background-color:#fff;border-radius:2px}.header-dark .navbar .dropdown-menu .dropdown-item,.header-dark .navbar .dropdown-menu .dropdown-item:focus{line-height:2;font-size:14px;color:#37434d}.header-dark .navbar .dropdown-menu .drodown-item:hover,.header-dark .navbar .dropdown-menu .dropdown-item:focus{background:#ebeff1}.header-dark .navbar .action-button,.header-dark .navbar .action-button:active{background:#208f8f;border-radius:20px;font-size:inherit;color:#fff;box-shadow:none;border:none;text-shadow:none;padding:.5rem .8rem;transition:background-color .25s}.header-dark .navbar .action-button:hover{background:#269d9d}.header-dark .navbar .form-inline label{color:#ccc}.header-dark .navbar .form-inline .search-field{display:inline-block;width:80%;background:0 0;border:none;border-bottom:1px solid transparent;border-radius:0;box-shadow:none;color:inherit;transition:border-bottom-color .3s}.header-dark .navbar .form-inline .search-field:focus{border-bottom:1px solid #ccc}.header-dark .hero{margin-top:60px}.header-dark .hero h2{font-size:40px;margin-top:40px;margin-bottom:80px}@media (min-width:768px){.header-dark .hero{margin-top:20px}.header-dark .hero h2{margin-bottom:50px;line-height:1.5}}.header-dark .hero .embed-responsive iframe{background-color:#666}.highlight-phone{color:#313437;background-color:#eef4f7;padding:50px 0 55px;overflow:hidden}.highlight-phone p{color:#7d8285}.intro h2{font-weight:700;margin-bottom:35px;line-height:1.5;color:inherit}.highlight-phone .intro{font-size:18px;max-width:500px;line-height:1.5}@media (max-width:767px){.highlight-phone .intro{max-width:none}}.highlight-phone .intro p{margin-bottom:35px}.highlight-phone .intro .btn{padding:16px 62px;border:none;background:0 0;text-shadow:none;opacity:.9;text-transform:uppercase;font-weight:700;font-size:13px;letter-spacing:.4px;line-height:1}.highlight-phone .intro .btn:hover{opacity:1}.highlight-phone .intro .btn:active{transform:translateY(1px)}.highlight-phone .intro .btn-primary{background-color:#055ada;color:#fff}.highlight-phone .iphone-mockup{position:relative;max-width:260px;margin-top:-30px;margin-bottom:-230px;transform:rotate(-15deg)}.highlight-phone .iphone-mockup img.device{width:100%;height:auto}.highlight-phone .iphone-mockup .screen{position:absolute;width:88%;height:77%;top:12%;border-radius:2px;left:6%;border:1px solid #444;overflow:hidden;background:url(../img/screen-content-iphone-6.html) center;background-size:cover}.highlight-phone .iphone-mockup .screen:before{content:'';background-color:#fff;position:absolute;width:70%;height:140%;top:-12%;right:-60%;transform:rotate(-19deg);opacity:.2}.photo-gallery{color:#313437;background-color:#fff}.photo-gallery p{color:#7d8285}.photo-gallery h2{font-weight:700;margin-bottom:40px;padding-top:40px;color:inherit}@media (max-width:767px){.photo-gallery h2{margin-bottom:25px;padding-top:25px;font-size:24px}}.photo-gallery .intro{font-size:16px;max-width:500px;margin:0 auto 40px}.photo-gallery .intro p{margin-bottom:0}.photo-gallery .photos{padding-bottom:20px}.photo-gallery .item{padding-bottom:30px}.map-clean{color:#313437;background-color:#fff}.map-clean p{color:#7d8285}.map-clean h2{font-weight:700;margin-bottom:40px;padding-top:40px;color:inherit}@media (max-width:767px){.map-clean h2{margin-bottom:25px;padding-top:25px;font-size:24px}}.map-clean .intro{font-size:16px;max-width:500px;margin:0 auto 40px}.map-clean iframe{background-color:#eee}.team-grid{color:#313437;background-color:#fff}.team-grid p{color:#7d8285}@media (max-width:767px){.team-grid h2{margin-bottom:25px;padding-top:25px;font-size:24px}}.team-grid .intro{font-size:16px;max-width:500px;margin:0 auto}.team-grid .intro p{margin-bottom:0}.team-grid .people{padding:50px 0}.team-grid .item{margin-bottom:30px}.team-grid .item .box{text-align:center;background-repeat:no-repeat;background-size:cover;background-position:top;height:280px;position:relative}.team-grid .item .cover{z-index:3;position:absolute;top:0;left:0;width:100%;height:calc(100% + 117px);background-color:rgba(31,148,255,.75);transition:opacity .15s ease-in;opacity:0;padding-top:80px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,.15)}.team-grid .item:hover .cover{opacity:1}.team-grid .item .name{font-weight:700;margin-bottom:8px}.team-grid .item .title{text-transform:uppercase;font-weight:700;color:#bbd8fb;letter-spacing:2px;font-size:13px;margin-bottom:20px}.team-grid .social{font-size:18px}.team-grid .social a{color:inherit;margin:0 10px;display:inline-block;opacity:.7}.team-grid .social a:hover{opacity:1}
.hero .col-md-8{margin:0 auto}
.features-clean .icon{

    padding:15px;


    text-align: center
}
.no-padding{padding:0}
.section{padding-bottom:40px}
.owl-lazy{opacity: 1 !important;}
.features-clean .icon.first{background-color:#c183d6;}
.features-clean .icon.second{background-color:#31aae2;}
.features-clean .icon.third{background-color:#73c8b7;}
.features-clean .icon.fourth{background-color:#31aae2;}
.features-clean .icon.fifth{background-color:#73c8b7;}
.features-clean .icon.sixth{background-color:#eb768c;}
.features-clean .icon.seventh{background-color:#4be3a4;}
.features-clean .icon.eighth{background-color:#718ac7;}
.features-clean .icon.nineth{background-color:#ebd175;}
.features-boxed .icon.first{color:#c183d6;}
.features-boxed .icon.second{color:#31aae2;}
.features-boxed .icon.third{color:#73c8b7;}
.features-boxed .icon.fourth{color:#31aae2;}
.features-boxed .icon.fifth{color:#73c8b7;}
.features-boxed .icon.sixth{color:#eb768c;}
.features-boxed .icon.seventh{color:#4be3a4;}
.features-boxed .icon.eighth{color:#718ac7;}
.features-boxed .icon.nineth{color:#ebd175;}
.highlight.white .col-md-5{margin-top:-35px}
.highlight.dark-blue:after, .highlight.pale-blue:after, .highlight.white:after, .highlight.dark-yellow:after, .highlight.green-blue:after, .highlight.watermelon:after, .highlight.sky-blue:after, .highlight.cyan-blue:after{background-color:transparent !important}
.btn-transparent{border:1px solid #FFF !important;background-color: transparent !important}
.btn-transparent:hover{background-color: rgba(255,255,255,0.05) !important}
.highlight.dark-blue{background-color:#0a3653}
.highlight.white{background-color:#fff;color:#333}.highlight.white p{color:#333}
.highlight.pale-blue{background-color:#385968}
.highlight.dark-yellow{background-color:#9ba83c}
.highlight.green-blue{background-color:#0e2f3e}
.highlight.watermelon{background-color:#fb6149}
.highlight.sky-blue{background-color:#0071bd}
.highlight.cyan-blue{background-color:#41bac2}
.hero h2, .team-grid h2, .team-grid p{color:#FFF}
.team-grid h2 span{border-bottom-color: #FFF !important}
.hero h2 span{font-size: 16px;display:block;margin-top:15px}
.navbar-brand{background-color:#FFF;padding:5px}
.btn{border-radius: 50px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);}
.hero .img-container{margin-top:65px;max-height:472px;width:auto}
.hero .btn-danger{padding:10px 80px;margin-top:-25px}
.social-icons i:hover{
    border:1px solid #000;color:#000;
}
.highlight-phone .col-md-5{margin-top:20px}
.hero{position: relative;z-index: 1;}
.owl-dots{position: absolute;display: inline-block;top:50%;left:20px;margin-top:-100px}
.owl-theme .owl-dots .owl-dot{display: block}
.owl-theme .owl-dots .owl-dot span{background:transparent;border:1px solid #FFF}
.owl-theme .owl-dots .owl-dot.active span{background:#FFF}
.owl-slider .slide{background-color:#005995}
.social-icons i {
    font-size:14px;
    display:inline-block;
    color:#FFF;
    margin:0 10px;
    width:36px;
    height:36px;
    border:1px solid #c8ced7;
    text-align:center;
    border-radius:50%;
    line-height:32px;
}
.intro h2 span{border-bottom:2px solid #313437;padding:0 35px 5px}
.header-dark{overflow: hidden;}
nav.navbar{
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.12);

    z-index: 5;
}

#sticky-navigation{display: none;
                   background-color: #212529;
                   padding: 10px;
                   width: 100%;
                   position: fixed;top:0;z-index: 99;}
#sticky-navigation a:link, #sticky-navigation a:visited{color:#FFF}
.footer-clean {
    padding:50px 0;
    margin-top:40px;
    background-color:#31aae2;
    color:#FFF;
}
.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-clean ul a:hover {
    opacity:1;
}

.footer-clean .item.social {
    text-align:right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align:center;
        padding-bottom:20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align:center;
    }
}

.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}

.footer-clean .item.social > a:hover {
    opacity:0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social > a {
        margin-top:40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social > a {
        margin-top:10px;
    }
}
.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
    padding-right:25px
}
.footer-clean img{margin:0 auto}
.footer-clean .copyright a:link, .footer-clean .copyright a:visited{color:#000;text-decoration: none;margin-right:5px;font-weight: bold}
.footer-clean h5{margin-bottom:20px}
.footer-clean li{margin-bottom: 5px}
.newsletter{margin:15px 15px 30px;padding-bottom:20px;border-bottom:1px solid #d9d9d9;text-align: center}
.newsletter button{background-color:#982c29;color:#FFF;text-align: center;border:0;padding:10px 20px;margin-right:-10px}
.newsletter input{background-color:#e8e8e8;color:#333;padding:10px;border:0}
.footer-clean p{font-size: 14px;margin-top:25px}
.footer-clean ul i{margin-left:15px}
.highlight{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
 
.highlight .container{position: relative;z-index: 2; }
.highlight:after{position: absolute;top:0;bottom:0;right:0;left:0;z-index: 1;background-color:#005995;opacity: 0.8;content:""}
.highlight-phone, .highlight-phone p{color:#FFF}
.highlight-phone p{line-height: 1.8}
.owl-loop h6{text-align: center;padding-top:15px}
.owl-loop a:link, .owl-loop a:visited{color:#212529}
.owl-loop .owl-item:not(.center) {
    opacity: 0.6;
    transform: scale(0.8)
}
.owl-loop .owl-nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 9;
    font-size: 28px;
    margin-top: -40px;
}
 
.owl-prev {float: right}
.owl-next {float: left}
.owl-loop .owl-nav button:hover{opacity: 1 !important;}
.owl-loop .owl-nav button.owl-next, .owl-loop .owl-nav button.owl-prev, .owl-loop button.owl-dot{opacity:0.8;font-size:16px;padding:10px 30px !important}
.owl-loop .owl-nav button{background-color:#005995 !important;color:#FFF !important;padding:5px}
.owl-nav .owl-prev{-webkit-border-top-left-radius: 50px !important;
                   -webkit-border-bottom-left-radius: 50px !important;
                   -moz-border-radius-topleft: 50px !important;
                   -moz-border-radius-bottomleft: 50px !important;
                   border-top-left-radius: 50px !important;
                   border-bottom-left-radius: 50px !important;}
.owl-nav .owl-next{-webkit-border-top-right-radius: 50px !important;
                   -webkit-border-bottom-right-radius: 50px !important;
                   -moz-border-radius-topright: 50px !important;
                   -moz-border-radius-bottomright: 50px !important;
                   border-top-right-radius: 50px !important;
                   border-bottom-right-radius: 50px !important;padding-left:40px}
.team-grid{padding-bottom:40px}
.card-bio{position:absolute;z-index:1;left:0;bottom:-117px;background-color:#ebebeb;width:100%;padding-top:20px}
.card-bio .name, .card-bio .title{margin-bottom: 0}
.card-bio .title{color:#333 !important}
.box{position: relative;overflow: visible;background-color:#FFF}
.owl-people .owl-stage-outer{padding-bottom:117px}
.owl-people .owl-nav.disabled, .owl-people .owl-nav{display: block !important;position: absolute;top: 0;right: 50%;margin:10px -30px 0 0}
.owl-people .owl-nav{color:#FFF}
.owl-people .owl-nav button{margin-left:25px;}
.owl-brands .owl-item img{width: auto !important;margin:0 auto}
.owl-brands a{border:1px solid #f3f3f3;padding:20px;text-align: center;height:130px}
.social-links i:hover{transform: scale(1.2);transition: all 0.2s}
.internal-pic{max-height: 170px}
.internal-page .intro{max-width: 100%}
.subheading{margin-bottom:40px}
.features-ul ul{list-style: none}
.features-ul li:before{content:"●";color:#32abe4;margin-left:10px}
.tick-list{list-style-type: none}
.tick-list li:before{content:"\f00c";font-family: "Font Awesome 5 Free";color:#3bd825;margin-left:15px;font-weight:bold}
.card-plan{margin-top:55px;border-radius: 10px;position: relative;}
.card-plan .btn{width:80%;margin:0 auto;display:block;padding-top:20px;padding-bottom:20px;border-radius:8px;  border-color:#3fbbee; background: rgb(51,168,222);
                background: linear-gradient(180deg, rgba(51,168,222,1) 0%, rgba(63,187,238,1) 100%); }
.card-plan .btn:hover{background: rgb(51,168,222);
                      background: linear-gradient(0deg, rgba(51,168,222,1) 0%, rgba(63,187,238,1) 100%);}
.circular-title{border:7px solid #FFF;position: absolute;width:150px;height:150px;background-color:#3cb8eb;top:-75px;right:50%;margin-right:-75px;border-radius: 50%;padding:15px 10px}
.circular-title b{display:block;color:#FFF;padding:5px;text-align:center;font-size:16px;font-weight:normal}
.circular-title .price{font-size: 36px;margin-top:-25px;margin-bottom:-25px;font-weight: bold}
.text .intro img {
    margin-top:20px;
}

.text .text p {
    margin-bottom:20px;
    line-height:1.45;
}
.owl-ver .owl-dots{right:-20px;left:auto}
.owl-ver .owl-dots .owl-dot span{border:1px solid #005995}
.owl-ver .owl-dots .owl-dot.active span{background:#005995}
.owl-ver .item{padding-right:0}
.live-btn{border-radius: 5px;width:100%;padding:15px}
.live-btn i{margin-left:20px}
.deatils-card .price{color:#000;font-size: 28px;margin-right:-10px}
.deatils-card{margin:40px 0;border-right:2px solid #31aae1;background-color:#fbfbfb;width:100%;padding:40px 20px 0 0;color:#757575}
.deatils-card h4{color:#000}
.details-item{border-bottom:1px dotted #757575;padding:10px}
.btn-buy{background-color:#31aae1;padding:20px;width:calc(100% + 22px);border-radius: 0;box-shadow: 0;margin-right:-22px;border:0;margin-top:40px}
.contact-form .row{margin-bottom:10px}
.contact-form .btn{margin-top:40px}
.contact-form{margin-bottom:40px}
.info-card{background:#FFF;margin-top:-150px !important;position:relative;margin:0 auto;padding:40px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
           -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
           box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);}
.info-card i{background-color:#31aae1;width:70px;height:70px;margin-bottom:15px;padding:20px 15px;font-size:28px;border-radius: 50%;color:#FFF;text-align:center}
@media (min-width:768px) {
    .info-card{width:70%;}
    .text .text p {
        font-size:16px;
    }
}


@media (max-width:767px){
    .owl-dots{display: none}
    .header-dark .hero{margin-top:20px}
    .navbar-dark .navbar-text{display: block;text-align:center}
}
@media (min-width:767px){

}
@media (min-width:1300px){
    .social-links{margin-left:25px}
}.btn {
    border-radius: 50px !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}



.reverse-row {
    flex-direction: row-reverse;
}
 

.services .box-title {
    text-align: center;
    margin-bottom:50px;
}

.services .box-title .title {
    font-weight: 700;
    color:#333;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.services .box-title .title .ch {
    color:#007EDB;
}

.services .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:2px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.services .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:2px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.services .card-wrapper {
    margin-bottom:40px;
}

.services .card-wrapper .img-wrapper {
    text-align: center;
}

.services .card-wrapper .info-wrapper {
    margin-top:35px;
}

.services .card-wrapper .info-wrapper .title {
    font-size:26px;
    font-weight: 700;
    color:#333;
    font-family: cairo,'sans-serif' !important;
    text-align: center;
}

.services .card-wrapper .info-wrapper .content {
    font-size:14px;
    line-height: 26px;
    text-align: center;
}




.special {
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
   
    background-size:cover;
    background-attachment: fixed;
    height:700px;
    position: relative;
}

.special .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#1da3bed9;
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding:120px 0;
}

.special .box-title {
    text-align: center;
    margin-bottom:50px;
}

.special .box-title .title {
    font-weight: 700;
    color:#fff;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.special .box-title .title .ch {
    color:#007EDB;
}

.special .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.special .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.special .img-wrapper .img {
    transform:translateY(85px);
}

.special .media .img {
    width:55px;
}

.special .media .media-body {
    margin-top:14px;
}

.special .media .media-body .title {
    font-family: cairo,'sans-serif' !important;
    color:#fff;
    font-weight: 700;
    margin-bottom: 15px;
}

.special .media .media-body .content {
    color:#fff;
    font-size:14px;
}



.features {
    padding:50px 0;
}

.features .media {
    margin-bottom:35px;
}

.features .media .icon {
    width:70px;
    margin:0 !important;
}

.features .media .media-body {
    padding-right:15px;
}

.features .media .media-body .title {
    color:#333;
    font-weight: 700;
    margin-bottom:5px;
    font-family: cairo,'sans-serif' !important;
}

.features .media .media-body .sub {
    color:#b3b1b1;
    font-weight: 700;
    display: block;
    margin-bottom:20px;
    font-size:14px;
}

.features .media .media-body .content {
    font-size:14px;
    line-height: 26px;
    color:#808080;
}


.about-us{
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    
    background-size:cover;
    background-attachment: fixed;
    height:500px;
    position: relative;
}

.about-us .container-fluid {
    width:1300px !important;
}

.about-us .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#1da3bed9;
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding:120px 0;
}

.about-us .box-title {
    text-align: center;
    margin-bottom:50px;
}

.about-us .box-title .title {
    font-weight: 700;
    color:#fff;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.about-us .box-title .title .ch {
    color:#007EDB;
}

.about-us .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.about-us .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.about-us .fb-video {
    width:100%;
    height:400px;
}

.about-us .content {
    margin-top:70px;
    color:#fff;
    font-size:18px;
    line-height:32px;
    font-weight: 700;
    margin-bottom:20px;
    width:90%;
}

.about-us .btn {
    width:180px;
    padding:12px;
    background-color:#ddd;
    font-weight: 700;
    color:#333;
    border-radius: 25px;
}




.our-work {
    padding:50px 0;
    position: relative;
}

.our-work .img-wrapper {
    width:50%;
    margin:auto;
}

.our-work .owl-nav {
    display:block !important;
}

.our-work .owl-nav .owl-prev {
    position: absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
    font-size:35px !important;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:2px solid #333 !important;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#007EDB !important;
    outline:0;
}

.our-work .owl-nav .owl-next {
    position: absolute;
    top:50%;
    left:10px;
    transform:translateY(-50%);
    font-size:35px !important;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:2px solid #333 !important;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#007EDB !important;
    outline:0;
}

.dropdown-toggle::after {
    display:none;
}






.fb-contact {
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    
    background-size:cover;
    background-attachment: fixed;
    height:780px;
    position: relative;
}

.fb-contact .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#18699f;
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding:120px 0;
}

.fb-contact .box-title {
    text-align: center;
    margin-bottom:50px;
}

.fb-contact .box-title .title {
    font-weight: 700;
    color:#fff;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.fb-contact .box-title .title .ch {
    color:#007EDB;
}

.fb-contact .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.fb-contact .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

 

.fb-contact .info-wrapper .content {
    font-size:16px;
    color:#fff;
    margin-bottom:20px;
    font-weight:700;
    line-height: 28px;
    text-align: right;
}

.fb-contact .info-wrapper .btn {
    width:180px;
    padding:12px;
    background-color:#ddd;
    color:#333;
    font-weight: 700;
    border-radius:25px;
    display:block;
    margin-top:30px;
}










.team {
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    
    background-size:cover;
    background-attachment: fixed;
    height:1000px;
    position: relative;
}

.team .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#1da3bed9;
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding:120px 0;
}

.team .box-title {
    text-align: center;
    margin-bottom:80px;
}

.team .box-title .title {
    font-weight: 700;
    color:#fff;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.team .box-title .title .ch {
    color:#007EDB;
}

.team .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.team .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.team .card-wrapper .img-wrapper .img {
    width:100%;
}

.team .card-wrapper .img-wrapper {
    position:relative;
    overflow: hidden;
}

.team .card-wrapper .img-wrapper .sub-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(to right top, #2bded8, #18d2d7, #0cc6d4, #11bacf, #1eaec9);
    display:flex;
    justify-content: center;
    align-items:center;
    opacity: 0;
    transition:.4s all ease-in-out;
}

.team .card-wrapper:hover .img-wrapper .sub-overlay {
    opacity: 1;
}

.team .card-wrapper .img-wrapper .sub-overlay span {
    background-color:#ddd;
    width:60px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items:center;
    transform:rotate(45deg);
    border-radius:5px;
}

.team .card-wrapper .img-wrapper .sub-overlay span .link {
    transform:rotate(-45deg);
    color:#333;
    text-decoration: none;
    font-size:20px;
}

.team .card-wrapper .info-wrapper {
    position:relative;
    border:2px solid #fff;
    border-top:none;
    padding:10px 15px;
    padding-top:45px;
}

.team .card-wrapper .info-wrapper .title {
    margin:0;
    font-size:18px;
    font-weight: 700;
    color:#fff;
    font-family: 'Cairo', sans-serif;
    text-align:center;
    position:relative;
    padding-bottom:15px;
    margin-bottom:35px;
}

.team .card-wrapper .info-wrapper .title:before {
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:80px;
    height:2px;
    border-radius:100%;
    background-color:#fff;
}

.team .card-wrapper .info-wrapper .contact {
    margin-bottom:20px;
    color:#fff;
    text-align: center;
    direction:ltr;
    font-size:16px;
    font-weight:700;
}

.team .card-wrapper .info-wrapper .contact .icon {
    width:25px;
    display:inline;
    margin-right:10px;
}

.team .card-wrapper .info-wrapper .name{
    position:absolute;
    top:-25px;
    left:50%;
    transform:translateX(-50%);
    padding:12px 30px;
    background-image: linear-gradient(to right top, #2bded8, #18d2d7, #0cc6d4, #11bacf, #1eaec9);
    box-shadow: 0 0 10px rgba(225,225,225,.4);
    font-size:16px;
    color:#fff;
    font-weight: 700;
}



.app-sample {
    padding:50px;
}

.app-sample .box-title {
    text-align: center;
    margin-bottom:80px;
}

.app-sample .box-title .title {
    font-weight: 700;
    color:#333;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.app-sample .box-title .title .ch {
    color:#007EDB;
}

.app-sample .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.app-sample .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.app-sample .owl-dots {
    display:none;
}













.clients-feedback {
    padding:60px 0;
}

.clients-feedback .box-title {
    text-align: center;
    margin-bottom:80px;
}

.clients-feedback .box-title .title {
    font-weight: 700;
    color:#333;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.clients-feedback .box-title .title .ch {
    color:#007EDB;
}

.clients-feedback .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.clients-feedback .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.clients-feedback .carousel-item .content {
    width:60%;
    margin:auto;
    text-align:center;
    font-size:16px;
    color:#9c9898;
    font-weight: 700;
    line-height: 28px;
}

.clients-feedback .carousel-control-next, .clients-feedback .carousel-control-prev {
    width:65px;
    height:65px;
    background-color:#ddd;
    border-radius:100%;
    top:50%;
    transform:translateY(-50%);
}

.clients-feedback .carousel-control-next span , .clients-feedback .carousel-control-prev span {
    color:#333;
    font-size:20px;
    transition:.4s;
}

.clients-feedback .carousel-control-next:hover span , .clients-feedback .carousel-control-prev:hover span {
    color:#fff;
}

.clients-feedback .carousel-control-next:hover , .clients-feedback .carousel-control-prev:hover {
    background-color:#36A8BF;
}

.clients-feedback .carousel-inner {
    width:85%;
    margin:auto;
}

.clients-feedback .carousel-inner .sub-title {
    font-size:18px;
    color:#808080;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top:30px;
}

.clients-feedback .carousel-inner .sub-title .ch {
    color:#36A8BF;

}

.clients-feedback .img-wrapper .img {
    width: 80%;
    display: block;
    margin: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.clients-feedback .row-wrapper {
    margin-bottom:40px;
    border-bottom:3px solid #36A8BF;
    padding-bottom:15px;
}



/* start:: footer-sm */


.footer-sm .container-fluid {
    width:1400px !important;
}

.logo {
    height: 85px !important;
    width: 20%;
    padding-top: 0px;
    
}
.footer-sm .main-wrapper .logo-wrapper .img {
    width: 320px;
    margin-top:60px;
    margin-bottom: 20px;

}

.footer-sm .main-wrapper .content {
    color:#fff;
    line-height:26px;
    margin-bottom:30px;
    font-size:16px;
    width:90%;
    font-weight: 700;
}

.footer-sm .main-wrapper .contact-wrapper .media {
    margin-bottom:20px;
    width:90%;
}

.footer-sm .main-wrapper .contact-wrapper .media:last-child .icon {
    transform:rotate(270deg);
}

.footer-sm .main-wrapper .contact-wrapper .media .icon {
    width:30px;
}

.footer-sm .main-wrapper .contact-wrapper .media .media-body {
    margin-top:8px;
    margin-right:10px;
    direction: ltr;
}

.footer-sm .main-wrapper .contact-wrapper .media .media-body span {
    color:#ddd;
    direction:ltr;
}

.footer-sm .navigation-wrapper {
    margin-top:150px;
}

.footer-sm .navigation-wrapper .title {
    color:#fff;
    font-weight:700;
    font-size:20px;
    margin-bottom:30px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

.footer-sm .navigation-wrapper .flex-wrapper {
    display:flex;
    flex-wrap:wrap;
}

.footer-sm .navigation-wrapper .right-menu ,
.footer-sm .navigation-wrapper .left-menu
{
    width:50%;
    list-style: none;
    margin:0;
    padding:0;
}

.footer-sm .navigation-wrapper .right-menu .menu-item ,
.footer-sm .navigation-wrapper .left-menu .menu-item
{
    margin-bottom:8px;
}

.footer-sm .navigation-wrapper .right-menu .menu-item:before ,
.footer-sm .navigation-wrapper .left-menu .menu-item:before
{
    content:'\2022';
    font-size:20px;
    color:#fff;
    margin-left:15px;
    transition: all .4s;
}

.footer-sm .navigation-wrapper .right-menu .menu-item:hover:before ,
.footer-sm .navigation-wrapper .left-menu .menu-item:hover:before
{
    color:#007EDB;
}
.footer-sm .navigation-wrapper .right-menu .menu-item a ,
.footer-sm .navigation-wrapper .left-menu .menu-item a
{
    color:#fff;
    font-size:16px;
}

.footer-sm .form-wrapper {
    margin-top:150px;
}

.footer-sm .form-wrapper .title {
    font-size:20px;
    font-weight:700;
    color:#fff;
    margin-bottom:30px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

.footer-sm .form-wrapper .form-control {
    height:45px;
    font-size:15px;
    background-color:transparent;
    border-color:#fff;
    color:#fff;
    text-align: right !important;
}

.footer-sm .form-wrapper textarea.form-control {
    height: auto;
}

.footer-sm .form-wrapper .btn {
    width:150px;
    padding:10px;
    color:#fff;
    font-size:16px;
    font-weight:700;
    background-color:#007EDB;
    outline: 0;
    border:1px solid #007EDB;
}
/* end:: footer-sm */


@media (max-width:991px) {
    .special .overlay {
        clip-path:none;
        padding:40px 0;
    }

    .special {
        height:970px;
        clip-path:none;
    }

    .special .img-wrapper {
        margin-bottom:100px;
    }

    .special .img-wrapper .img {
        width:100%;
    }

    .footer-sm .navigation-wrapper {
        margin-top:0;
    }

    .footer-sm .container-fluid {
        width:auto !important;
    }

    .footer-sm .social {
        margin-top:35px;
    }

    .footer-sm .form-wrapper {
        margin-top:50px;
    }
}

body {
    background-color: #fff !important;
}



.carousel-indicators {
    z-index: 0 !important;
}
.videoWrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  min-height: 320px;
}
img{
    margin: auto;
}
li.undefined {
    display: none;
}
.website{
    max-height: 350px;
}
.owl-carousel .owl-item img {
    display: block; 
    width: 100%;
    height: 100%;

}
.introo{
    line-height: 1.5;
    font-size: 18px;
    max-width: 100%;
}
.dropcaps{
    float: right !important;
}



.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group .form-control {
    box-shadow:none;
    height: 42px;
    background-color:transparent;
    transition: .5s;
    text-align: center;
}

.form-group textarea.form-control {
    height: auto;
}

.form-group .form-control:focus {
    border-color:#2C96CC;
} 

.form-group .control-label {
    position:absolute;
    top:5px;
    right:25px;
    font-size: 16px;
    cursor:pointer;
    color:#808080;
    transition: .5s;
}

.form-group .form-control:focus ~ .control-label , 
.form-group .form-control:valid ~ .control-label 
{
    top:-15px;
    padding: 0 5px;
    background-color: #fff;
    /* font-weight: 700; */
}


header .navbar {
    z-index:1000;
}


.slider .carousel-inner .services .service-item {
    height:220px !important;
}

.slider .carousel-inner .services {
    top:470px !important;
}
.box-title {
    text-align: center;
    margin-bottom: 25px;
}



.box-title {
    text-align: center;
 
 
}

.box-title .title {
    font-weight: 700;
    color:#333;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.box-title .title .ch {
    color:#007EDB;
}

.box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:2px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}



.box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:2px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}
.cairo{

    font-family: 'Cairo', sans-serif !important;
}
.box-title.no-padding {
    margin: 0px;
}    


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}


@media (max-width:991px) {
    .slider .carousel-inner>.item .slide-image {
        height: auto !important;
    }
    .slider .carousel-inner>.item:after{
        display: none;
    }

    .slider .carousel-inner .services {
        position: relative;
        top:55px !important;
    }
    .carousel {
      
        background-color:#333;
    }

    .box-title .title {

        font-size: 150%;
    }

    .box-title .title:before {

        left: -114px;

    }

    .box-title .title:after {

        right: -112px;

    }
    .reverse-row {
        flex-direction: row-reverse;
        text-align: center;
    }

    .features-clean .item {
        min-height: 100px;
        padding-right:  0px  !important; 
        margin-bottom:  0px  !important; 
        text-align: center;
    }
}

.first-services{
    top: -20px;
    position: relative;
}

.logo-wrapper {
    text-align: center;
}

.footer-sm .main-wrapper .content {

    text-align: center;
}


.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/* Detail page - members */
.detail-members {
    padding-bottom: 100px;
 
    position: relative;
}

.detail-members .team-item .inner{
    border: solid 1px #eee;
    border-radius: 0px 0px 8px 8px;
    padding: 15px;
    text-align: center;
    background: #f6f6f4;
}

.detail-members .team-item {
    margin-bottom: 25px;
    text-align: center

}
.detail-members .team-item .avatar
{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    background: #f6f6f4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.detail-members .team-item .avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detail-members .team-item h5 {
    font-size: 20px;
    color: #18699f;
    margin-top: 15px;
}

.detail-members .team-item .info {
    font-size: 14px;
}

.detail-members .team-item .social-networks {
    font-size: 30px;
    padding-top: 30px;
}

.detail-members .team-item .social-networks a {
    color: #fff;
}

.detail-members h3 {
    padding-left: 15px;
    margin-top: 0px;
    padding-bottom: 20px;
}

.detail-members .info {
    font-weight: bold;
    padding-bottom: 10px;
}

.detail-members .carousel .carousel-indicators {
    position: absolute;
    bottom: -20px;
}

.detail-members .carousel .carousel-indicators li {
    border: solid 1px #aaa;
}

.detail-members .carousel .carousel-indicators li.active {
    background: #ddd;
}

.detail-members a {
    color: #212121;
}

.detail-members a:hover {
    color: #18699f;
}

#sendMemberEmail .col-left .avatar img{
    object-fit: cover;
}

#sendMemberEmail .btn-primary {
    background: #18699f;
    border: solid 1px #18699f;
}

 

.features-clean .item .icon {
    display: block;
    margin: 0 auto;
    float: none;
    margin-bottom: 25px;
    font-size: 45px;
    width: 200px;
}
.fadeIn {

    text-align: center;
}
.box-title {
    text-align: center;
 
}
.box-title .title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -140px;
    transform: translateY(-50%);
    width: 100px;
    height: 2px;
    padding: 2px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-title .title:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -140px;
    transform: translateY(-50%);
    width: 100px;
    height: 2px;
    padding: 2px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
.box-title .title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -140px;
    transform: translateY(-50%);
    width: 100px;
    height: 2px;
    padding: 2px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
.box-title {
    text-align: center;
 
}



.box-title {
    text-align: center;
   
}

.box-title .title {
    font-weight: 700;
    color:#333;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.box-title .title .ch {
    color:#007EDB;
}

.box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:2px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}



.box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:2px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}
.intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;
}





.fb-contact {
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
   
    background-size:cover;
    background-attachment: fixed;
    height:700px;
    position: relative;
}

.fb-contact .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#18699f;
    clip-path: polygon(51% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding-top:90px;
}

.fb-contact .box-title {
    text-align: center;
 
}

.fb-contact .box-title .title {
    font-weight: 700;
    color:#fff;
    font-family: cairo,'sans-serif' !important;
    position:relative;
    display:inline;
}

.fb-contact .box-title .title .ch {
    color:#007EDB;
}

.fb-contact .box-title .title:before {
    content:'';
    position:absolute;
    top:50%;
    left:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}

.fb-contact .box-title .title:after {
    content:'';
    position:absolute;
    top:50%;
    right:-140px;
    transform:translateY(-50%);
    width:100px;
    height:2px;
    padding:1px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}
 

.fb-contact .info-wrapper .content {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: right;
}

.fb-contact .info-wrapper .btn {
    width:180px;
    padding:12px;
    background-color:#ddd;
    color:#333;
    font-weight: 700;
    border-radius:25px;
    display:block;
    margin-top:30px;
    margin-bottom:30px;
}

.fb-contact iframe {
 
    height:500px;
}

.highlight-phone {
    background-color: #000000;
}

.services{
    font-family: 'Cairo', sans-serif !important;
    font-size: 100% !important;
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
       font-family: 'Cairo', sans-serif !important;
    
}


@media screen and (max-width: 326px)  {
    .facePag{
        height: 200vh !important;
    }
    .fb-contact .overlay {
 
    width: 100%;
    height: 200vh !important;
 
    padding-top: 150px !important;
}
}
@media screen and (max-width: 1024px) and (min-width: 320px) {

.fb-contact .info-wrapper .content {  
    padding-right: 0px !important;
   }


.fb-contact .overlay {
 
    padding-top: 156px;
}

.process-block .icon-box{
    margin-bottom: 0px !important;
}
.process-block h4 {
 
    margin: 12px 0 0 !important;
}
}